{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}

    <!-- Main article content -->
    <article class="page single">
        <!-- Featured image -->
        {{- /* Featured image */ -}}
        {{- $image := $params.featuredimage -}}
        {{- with .Resources.GetMatch "featured-image" -}}
            {{- $image = .RelPermalink -}}
        {{- end -}}
        {{- with $image -}}
            <div class="featured-image">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
            </div>
        {{- end -}}

        <!-- Article Title -->
        {{- /* Title */ -}}
        <h1 class="single-title posts-title">{{ .Title }}</h1>

        <!-- Article Subtitle -->
        {{- /* Subtitle */ -}}
        {{- with $params.subtitle -}}
            <h2 class="single-subtitle">{{ . }}</h2>
        {{- end -}}

        <!-- Article date -->
        {{- /* Meta */ -}}
        <div class="post-meta">
            <div class="post-meta-line">
                {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
                    <i class="far fa-calendar-alt fa-fw"></i>&nbsp;<time datetime="{{ . }}">{{ . }}</time>&nbsp;
                {{- end -}}
            </div>
        </div>

        {{- /* Footer */ -}}
        {{- partial "single/footer.html" . -}}
    </article>
{{- end -}}
